-provide(:title,'Nueva valoracion')
.page-head
  %h2.pull-left
    %i.fa.fa-calculator
    Mis valoraciones
    
  .bread-crumb.pull-right
    %a
      %i.fa.fa-calculator 
      Home
    %span.divider
      ='/'
    %a.bread-current 
      Mis valoraciones
  .clearfix
.container
  .row
    .col-md-10.col-md-offset-1