 
  <header class="hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
          <div class="hidden-xs" >
            <%= link_to image_tag("Elite-Logo-PNG.png", alt: "Elite Fitness logo",  width: "200px", height: "80px"), '#' %>
            </div>

          </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="header-data">
                         
          </div>
        </div>
      </div>
    </div>
  </header>
  